@inherits LayoutComponentBase

    <MudThemeProvider Theme="currentTheme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    @*<head>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    </head>*@

    <MudLayout>
        <MudAppBar Elevation="1" Color="Color.Tertiary">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudText Typo="Typo.h5" Class="ml-3">Go Recruit</MudText>
            @*<MudButton></MudButton>
        <MudButton OnClick="@((e) => DarkMode())">Dark-Light</MudButton>*@
            <MudAppBarSpacer />
            <MudMenu Label="Open Menu" Icon="@Icons.Material.Filled.Login">
                <MudMenuItem Link="/account/login">Login</MudMenuItem>
                <MudMenuItem Link="/account/register">Register</MudMenuItem>
                <MudMenuItem Link="/" OnClick="Logout">Logout</MudMenuItem>
            </MudMenu>
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu></NavMenu>
        </MudDrawer>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>




    @*<div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>*@

@code{
    bool _drawerOpen = true;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void Logout()
    {

    }


    void DarkMode()
    {
        if (currentTheme == DefaultTheme)
        {
            currentTheme = DarkTheme;
        }
        else
        {
            currentTheme = DefaultTheme;
        }
    }

    MudTheme currentTheme = new MudTheme();

    MudTheme DefaultTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Red.Darken1,
            Secondary = Colors.Red.Accent4,
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };

    MudTheme DarkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}

